body{
    margin: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
    text-align: center;
    color: rgb(46, 48, 49);
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 80px auto;
    padding: 20px 40px;    
    border-bottom: 2px rgb(170, 44, 170) solid;
    background:  rgba(67, 101, 151, 0.705)
}
.img {
    width: 150px;
    border-radius: 15px; 
}
